<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Charlie Zheng">
		<meta name="description" content="Fake subreddit made for an English project">
		<title>wroddit: Frankenstein</title>
		<link rel="stylesheet" href="/css/wroddit.css">
	</head>
	<body>
		<header>
			<!--Note to self: Paint him green--!>
			<img src="/media/yaoming.png">
			<h1>wroddit</h1>
			<a id="subtitle" href="{{url}}"><h2>Frankenstein</h2></a>
			<nav>
				<h2>hot</h2>
				<h2>new</h2>
				<h2>rising</h2>
				<h2>controversial</h2>
				<h2>top</h2>
				<h2>gilded</h2>
			</nav>
		</header>
		<aside>
			<form>
				<input type="text" placeholder="username">
				<input type="password" placeholder="password">
				<br>
				<input type="checkbox">remember me
				<input type="submit" value="login">
			</form>
			<button name="submitlink">Submit a new link</button>
			<button name="submittext">Submit a text post</button>
			<h1>Frankenstein</h1>
			<!--<p>1 user here now</p>--!>
			<p>Frankenstein discussion board.</p>
			<hr>
			<p>a community for 1 week</p>
			<h3>MODERATORS</h3>
			<ul id="mod-list">
				<li>Charlie Zheng</li>
				<li>Ethan Chen</li>
			</ul>
		</aside>
		<main>
			{{#> content-block}}
				<p>There's nothing here.</p>
			{{/content-block}}
		</main>
		<footer>
			<p>Use of this site does not constitute acceptance of any user agreement or privacy policy. No rights reserved.</p>
			<p>WRODDIT and the Logo are not registered trademarks.</p>
		</footer>
	</body>
</html>
