<!DOCTYPE html>
<li>
	<article>
		<div class="post-voters">
			<button>&#9757;</button>
			<p class="post-votes">0</p>
			<button>&#9759;</button>
		</div>
		<img src="/media/yaoming.png">
		<div>
			<a href="about:blank"><h1>{{title}}</h1></a>
			<p class="post-author">submitted by {{author}}</p>
			<p class="post-actions">0 Comments</p>
		</div>
		<div class="post-content">
		</div>
	</article>
</li>
