<!DOCTYPE html>
<li>
	<article>
		<div>
			<p class="votes">0</p>
		</div>
		<img src="/media/yaoming.png">
		<div>
			<h1>{{title}}</h1>
			<p>{{author}}</p>
			<p>0 Comments</p>
		</div>
	</article>
</li>
