<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Charlie Zheng">
		<meta name="description" content="Fake subreddit made for an English project">
		<title>wroddit: Frankenstein</title>
		<link rel="stylesheet" href="/css/frankenstein.css">
	</head>
	<body>
		<header>
			<!--Note to self: Paint him green--!>
			<img src="/media/yaoming.png">
			<h1>wroddit</h1>
			<h2>Frankenstein</h2>
			<nav>
				<h2>hot</h2>
				<h2>new</h2>
				<h2>rising</h2>
				<h2>controversial</h2>
				<h2>top</h2>
				<h2>gilded</h2>
			</nav>
		</header>
		<aside>
			<form>
				<input type="text" placeholder="username">
				<input type="password" placeholder="password">
				<br>
				<input type="checkbox">remember me
				<input type="submit" value="login">
			</form>
			<div id="submit-buttons">
				<h1>Submit a new link</h1>
				<h1>Submit a new text post</h1>
			</div>
			<h1>Frankenstein</h1>
			<!--<p>1 user here now</p>--!>
			<p>Frankenstein discussion board.</p>
			<hr>
			<p>a community for 1 week</p>
			<h3>MODERATORS</h3>
			<ul id="mod-list">
				<li>Charlie</li>
				<li>Ethan</li>
			</ul>
		</aside>
		<!--The posts go here--!>
		<!--TODO: Template magic--!>
		<main>
			<ol>
				<li>
					<article>
						<div class="vote-figures">
							<p id="votes" >0</p>
						</div>
						<img src="/media/yaoming.png">
						<div class="info">
							<h1>Title</h1>
							<p>Author</p>
							<p>0 Comments</p>
						</div>
					</article>
				</li>
			</ol>
		</main>
		<footer>
			<p>Use of this site does not constitute acceptance of any user agreement or privacy policy. No rights reserved.</p>
			<p>WRODDIT and the Logo are not registered trademarks.</p>
		</footer>
	</body>
</html>
