<!DOCTYPE html>
{{!-- View wroddit post comments --}}
{{#> wroddit_layout}}
{{#*inline "content-block"}}
	{{> wroddit_post post}}
	<section id="comments">
		<h1>comments</h1>
		<hr>
		{{#each comments}}
			<div class="comment">
				<h2>{{author}}</h2>
				<p>{{points}}</p>
				<p>{{content}}</p>
			</div>
		{{/each}}
	</section>
{{/inline}}
{{/wroddit_layout}}
