<!DOCTYPE html>
{{!-- wroddit page that lists posts --}}
{{#> wroddit_layout}}
{{#*inline "content-block"}}
	<ol>
		{{#each posts}}
			<li>
				{{> wroddit_post}}
			</li>
		{{/each}}
	<ol>
{{/inline}}
{{/wroddit_layout}}

<script type="text/javascript" src="/js/index.js"></script>
