/* frankenstein.css */
* {box-sizing: border-box;}
body {
	margin: 0;
	font-family: sans-serif;
	font-size: 0.8em;
}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited {color: black;}
/* Header */
header {
	background-color: #CEE3F8;
	border-bottom: thin solid #5F99CF;
}
header * {
	display: inline;
	margin-right: 0.2rem;
}
header img {
	position: relative;
	width: 3rem;
	height: 3rem;
	top: 0.2rem;
}
header h1, header h2 {line-height: 100%;}
header h1 {font-size: 2em;}
header h2 {font-size: 1em;}
a h2 {text-transform: uppercase;}
a#subtitle:visited {color: black;}
header nav h2 {
	padding: 0 0.4rem;
	color: #336699;
	background-color: #EFF7FF;
	border-bottom: thin solid #5F99CF;
}

/* Aside */
aside {
	display: float;
	float: right;
	margin: 0.4rem;
}
aside form {
	margin-bottom: 0.4rem;
	padding: 0.4rem;
	padding-bottom: 0.8rem;
	border: thin solid #808080;
}
aside form input:first-child {margin-bottom: 0.4rem;}
aside form input[type="submit"] {
	position: float;
	float: right;
}
aside .submit-button {
	display: block;
	width: 100%;
	margin: 0.4rem 0;
	padding: 0.2rem 0;
	text-align: center;
	font: bold 1.2em sans-serif;
	color: #336699;
	background: linear-gradient(white, #EBF3FC);
	border: thin solid #C4DBF1;
}
aside .submit-button:hover {
	color: white;
	background: linear-gradient(white, #5F99CF);
	border: thin solid #5F99CF;
}
aside ul#mod-list {
	padding: 0.2rem 0.4rem;
	list-style-type: none;
	border: thin solid #808080;
}

/* Main */
main {margin: 1rem;}
main ol {padding-left: 1rem;}
main li {
	margin-bottom: 1rem;
	font: 1.4em serif;
	color: #B7B7B7;
}

/* Post */
article {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-left: 0.2rem;
	color: black;
	font: 0.8rem sans-serif;
}
article .post-voters * {
	display: block;
	margin: 0;
	color: #B7B7B7;
	font-weight: bold;
}
article .post-voters button {
	padding: 0;
	border: none;
	background: none;
}
article img {height: 4rem;}
article h1, article p {margin: 0;}
article h1 {
	font-size: 1.2em;
}
article .post-author {color: #B7B7B7;}
article .post-actions {
	font-weight: bold;
	color: #888888;
}

/* Comment section */
#commentsection h1 {
	margin: 0;
	font-weight: normal;
}
.comment * {
	display: inline;
	margin: 0 0.4rem 0 0;
}
.comment p:last-child {display: block;}
.comment h2 {font: bold 1em sans-serif;}

/* Submission */
main h1, main h2 {
	margin: 0;
	font: normal 1.4em sans-serif;
}
main p.yellowbox {
	width: 40%;
	padding: 0.2rem;
	background-color: #F6E69F;
	border: thin solid #FFA500;
}
main form {width: 40%;}
main form * {display: block;}
main form fieldset {
	padding: 0.6rem 0.8rem;
	border: none;
	border-radius: 0.4rem;
	background-color: #CEE3F8;
	margin: 0.8rem 0;
}
main form textarea {width: 100%;}
main form textarea[name="title"] {font: 1.6em sans-serif;}
main form textarea[name="text"] {font: 1.2em sans-serif;}
main form p {
	padding: 0.4rem;
	background-color: #E4F2FB;
	border: thin solid #5F99CF;
	border-radius: 0.4rem;
}

/* Footer */
footer {
	clear: both;
	text-align: center;
}
footer p {
	color: #808080;
	font-size: 0.8rem;
}
