/* frankenstein.css */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	font-size: 0.8em;
}
/* Header */
header {
	background-color: #CEE3F8;
	border-bottom: thin solid #5F99CF;
}
header * {
	display: inline;
	margin-right: 0.2rem;
}
header img {
	position: relative;
	width: 3rem;
	height: 3rem;
	top: 0.2rem;
}
header h1, h2 {line-height: 100%;}
header h1 {font-size: 2em;}
header h2 {font-size: 1em;}
header > h2 {text-transform: uppercase;}
header nav h2 {
	padding: 0 0.3em;
	color: #336699;
	background-color: #EFF7FF;
	border-bottom: thin solid #5F99CF;
}
/* Aside */
aside {
	display: float;
	float: right;
	margin: 0.5rem;
}
aside form {
	margin-bottom: 0.4rem;
	padding: 0.4rem;
	border: thin solid #808080;
}
aside button {
	width: 100%;
	margin: 0.4rem 0;
	padding: 0.2em 0;
	font: bold 1.2em sans-serif;
	color: #336699;
	background: linear-gradient(white, #EBF3FC);
	border: thin solid #C4DBF1;
}
aside button:hover {
	color: white;
	background: linear-gradient(white, #5F99CF);
	border: thin solid #5F99CF;
}
aside ul#mod-list {
	padding: 0.2rem 0.4rem;
	list-style-type: none;
	border: thin solid #808080;
}
/* Main */
main li {
	color: #CCCCC7;
	font-size: 2em;
}
article {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 0.2rem;
	color: black;
	font-size: 0.5em;
}
article img {height: 3rem;}
article h1, p {margin: 0;}
/* Footer */
footer {
	clear: both;
	text-align: center;
}
footer p {
	color: #808080;
	font-size: 0.8em;
}
